[submodule "izrada-web-stranice-web-shop-Spinii-test"]
	path = izrada-web-stranice-web-shop-Spinii-test
	url = https://github.com/Spinii/izrada-web-stranice-web-shop-Spinii-test.git
[submodule "to-do-list-App"]
	path = to-do-list-App
	url = https://github.com/Spinii/to-do-list-App.git
[submodule "weather-fetch-app"]
	path = weather-fetch-app
	url = https://github.com/Spinii/weather-fetch-app.git
[submodule "password-generator-app"]
	path = password-generator-app
	url = https://github.com/Spinii/password-generator-app.git
[submodule "rock-paper-scissors-app"]
	path = rock-paper-scissors-app
	url = https://github.com/Spinii/rock-paper-scissors-app.git
[submodule "quiz-app"]
	path = quiz-app
	url = https://github.com/Spinii/quiz-app.git
